@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
  }

  p {
    font-size: 3.5vw;
  }

  nav .logo img {
    width: 30vw;
  }

  nav .right {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    color: #f3f3f3c2;
  }

  .sidebar .btn {
    background-color: #000;
    padding: 3vw 10vw;
    border-radius: 8vw;
    transition: all 0.4s ease-in-out;
    text-align: center;
    width: fit-content;
    text-align: center;
  }

  .header {
    padding: 3vw 5vw;
    height: 70vw;
  }

  .main button {
    padding: 1.5vw 5vw;
    border-radius: 5vw;
    margin-top: 2vw;
    transition: all 0.4s ease-in-out;
    font-size: 3vw;
  }

  .header .main h1 {
    font-size: 6vw;
  }

  /* Our_Features  */

  .Our_Features {
    padding: 5vw 10vw;
  }

  .Our_Features span {
    font-size: 3vw;
    font-weight: 700;
  }
  .Our_Features h1 {
    font-size: 7vw;
  }

  .Our_Features .box {
    padding: 1.5vw;
  }

  .Our_Features .iner {
    border: 1px solid #7a31a2;
    padding: 6vw;
    border-radius: 6vw;
    height:100%;
  }
  

  .Our_Features .iner::after {
    width: 30vw;
    height: 30vw;
    bottom: 23vw;
  }

  .Our_Features .iner h2 {
    font-weight: 700;
    font-size: 5vw;
  }

  .Our_Features .iner img {
    width: 14vw;
  }

  /* Next_Wave  */

  .Next_Wave {
    padding: 8vw;
  }

  .Next_Wave span {
    font-size: 3vw;
    font-weight: 300;
  }
  .Next_Wave h1 {
    font-size: 7vw;
  }
  .Next_Wave .main {
    margin-top: 8vw;
  }
  .Next_Wave .main .iner_box {
    background-color: #81818b33;
    padding: 5vw;
    text-align: start;
  }

  .Next_Wave .main .iner_box_1 {
    border-radius: 6vw;
    border-bottom-right-radius: 0;
  }
  .Next_Wave .main .iner_box_2 {
    border-radius: 6vw;
    border-top-right-radius: 0;
  }
  .Next_Wave .main .iner_box_3 {
    border-radius: 6vw;
    border-bottom-left-radius: 0;
  }

  .Next_Wave .main .iner_box_4 {
    border-radius: 6vw;
    border-top-left-radius: 0;
  }

  .Next_Wave .main .iner_box img {
    width: 13vw;
  }
  .Next_Wave .main .iner_box h2 {
    font-size: 5vw;
  }

  /* ============ Why_Us */

  .Why_Us {
    padding: 5vw;
    background-image: url("../images/bottom.gif");
    height: 80vw;
    position: relative;
  }

  .Why_Us span {
    font-size: 3vw;
    font-weight: 300;
  }
  .Why_Us h1 {
    font-size: 7vw;
  }
  .Why_Us p {
    font-size: 2.5vw;
    font-weight: 300;
  }

  .Why_Us button {
    padding: 1.5vw 5vw;
    border-radius: 5vw;
    margin-top: 2vw;
    transition: all 0.4s ease-in-out;
    font-size: 3vw;
  }
  .content {
    position: relative;
    z-index: 99;
    margin-top: -5vw;
  }

  .bg {
    height: 40vw;
  }

  .join h1 {
    font-size: 9vw;
    font-weight: 700;
    text-align: center;
  }
  .join p {
    text-align: center;
  }

  .join span {
    font-size: 9vw;
    text-align: center;
  }

  .join button {
    background-color: #fff;
    padding: 2vw 10vw;
    border-radius: 6vw;
  }

  .join button i {
    margin-left: 16px;
  }

  .join button:hover {
    background-color: #c509ff;
    padding: 1vw 10vw;
    border-radius: 3vw;
    color: #fff;
    font-weight: 600;
  }

  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 0vw;
    padding-bottom: 10vw;
  }

  .slider-container {
    overflow: hidden;
  }
}
